@import '../variables.css';

.FeatureList {

}

.FeatureList-container {
}

.FeatureList-header {
  color: var(--brand-primary);
  font-size: var(--font-size-h1);
}

.FeatureList-moreLink {
  text-align: left;
  padding: 5px 5px 5px 0;
  border-top: var(--borders-thin-solid-dark);
  font-size: 14px;
  color: var(--brand-primary);
  text-decoration: none;
}
