@import '../variables.css';

.ScheduleItem {
  border-top: var(--borders-thin-solid-dark);
}

.ScheduleItem-date,
.ScheduleItem-time {
  text-align: center;
}

.ScheduleItem--muted {
  opacity: 0.5;
}
