@import '../variables.css';

.HomePage {

}

.HomePage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HomePage-bodyContainer {
  display: flex;
  flex-direction: row;
}

.HomePage-bodyNewsAndFeatures {
  flex: 1;
}

.HomePage-bodyFeatures {
  flex: 3;
}

.HomePage-bodyOnAir {
  flex: 1;
}

.HomePage-bodyNoMansLand {
  flex: 0;
}
