@import '../variables.css';

.AppCanvas {

}

.AppCanvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppCanvas-bodyContainer {
  display: flex;
  flex-direction: row;
}

.AppCanvas-bodyNewsAndFeatures {
  flex: 1;
}

.AppCanvas-bodyFeatures {
  flex: 1;
}

.AppCanvas-bodyOnAir {
  flex: 1;
}

