@import '../variables.css';

.NewsItem {

}

.NewsItem-container {
  border-top: var(--borders-thin-solid-dark);
}

.NewsItem-link {
  padding: 3px 8px;
  text-decoration: none;
}

.NewsItem-link:hover {
  text-decoration: underline;
}

.NewsItem-link,
.NewsItem-link:active,
.NewsItem-link:visited {
  display: block;
  padding: 14px 0;
  background: transparent;
  transition: background var(--animation-swift-out);
  color: black;
}

.NewsItem-link--highlight {
  background: var(--brand-primary);
}
