@import '../variables.css';

.NewsItem {

}

.NewsItem-container {
  border-top: 2px solid black;
}

.NewsItem-link {
  padding: 3px 8px;
  text-decoration: none;
}

.NewsItem-link:hover {
  text-decoration: underline;
}

.NewsItem-link,
.NewsItem-link:active,
.NewsItem-link:visited {
  display: block;
  padding: 14px 0;
  background: transparent;
  transition: background 0.25s ease-out;
  color: #000;
}

.NewsItem-link--highlight {
  background: var(--brand-primary);
}
