@import '../variables.css';

.NewsItem {

}

.NewsItem-container {
  border-top: 2px solid black;
}

.NewsItem-link {
  padding: 3px 8px;
  text-decoration: none;
}

.NewsItem-link:hover {
  text-decoration: underline;
}

.NewsItem-link,
.NewsItem-link:active,
.NewsItem-link:visited {
  padding: 14px 0;
  display: block;
  color: #000;
}
