@import '../variables.css';

.EventList {

}

.EventList-container {
  font-variant: small-caps;
  text-align: center;
}

.EventList-header {
  color: var(--brand-primary);
  font-size: var(--font-size-h1);
}

.EventList-newsItems {

}

.EventList-moreLink {
  display: block;
  text-align: left;
  padding: 5px 5px 5px 0;
  border-top: var(--borders-thin-solid-dark);
  font-size: 14px;
  color: var(--brand-primary);
  text-decoration: none;
}

.EventList-moreLink,
.EventList-moreLink:active,
.EventList-moreLink:visited {
  color: rgba(255, 87, 68, 1);
}

.EventList-moreLink:hover {
  text-decoration: underline;
}
