@import '../variables.css';

.EventList {

}

.EventList-container {
  font-variant: small-caps;
  text-align: center;
}

.EventList-header {
  color: #FF5744;
  font-size: 14px;
}

.EventLIst-newsItems {

}
