@import '../variables.css';

.RightFlank {

}

.RightFlank-container {
  padding: 1rem;
  font-size: 1.5rem;
}

.RightFlank-banner {
  text-align: center;
  font-variant: small-caps;
}

.RightFlank-bannerFrequency {
  font-size: large;
}
