@import '../variables.css';

.RightFlank {

}

.RightFlank-container {
  padding: 5rem 1rem;
  font-size: 1.5rem;
}

.RightFlank-banner {
  text-align: center;
  font-variant: small-caps;
  background-image: url('/wlpn_flanks-02.svg');
  height: 550px;
}

.RightFlank-banner__h1 {
  visibility: hidden;
}
