@import '../variables.css';

.OnAirItem {
  border: var(--borders-thin-solid-dark);
  margin-bottom: 22px;
  font-size: 14px;
}

.OnAirItem-banner {
  border-bottom: var(--borders-thin-solid-dark);
  padding: 3px 8px;
  text-align: center;
  font-variant: small-caps;
}

.OnAirItem-content {
  background-color: white;
}

.OnAirItem-hero {
  text-align: center;
}

.OnAirItem-heroImage {
  margin: 2rem 2rem 0;
}

.OnAirItem-headline {
  text-align: center;
  font-family: 'HelveticaNeue-Light', sans-serif;
}

.OnAirItem-headlineLink {
  text-decoration: none;
}

.OnAirItem-headlineLink,
.OnAirItem-headlineLink:active,
.OnAirItem-headlineLink:visited {
  color: rgba(255, 87, 68, 1);
}

.OnAirItem-headlineLink:hover {
  text-decoration: underline;
}

.OnAirItem-headlineHeader {
  font-size: 20px;
  margin: 0 1rem;
  padding: 1rem 0;
}
