@import '../variables.css';

.NewsAndEvents {

}

.NewsAndEvents-container {
  padding: 1rem;
  font-size: 1.125rem; /* ~18px */
}

.NewsAndEvents-banner {
  text-align: center;
  font-variant: small-caps;
}
