@import '../variables.css';

.ShowDetailsPage {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
}


.ShowDetailsPage-hostInfo__header,
.ShowDetailsPage-about__header,
.ShowDetailsPage-episodes__header {
  color: var(--brand-primary);
  border-bottom: var(--borders-thin-solid-dark);
  text-align: center;
}

.ShowDetailsPage-hostInfo__header h1,
.ShowDetailsPage-about__header h1,
.ShowDetailsPage-episodes__header h1 {
  font-size: var(--font-size-h1);
}

.ShowDetailsPage-aboutImage__image {
  display: block;
  margin: auto;
  padding: 1rem;
  max-height: 320px;
  max-width: 320px;
}

.ShowDetailsPage-aboutHeadline {
  color: var(--brand-primary);
  font-size: var(--font-size-h1);
  text-align: center;
}

.ShowDetailsPage-hostInfo {
  flex: 1;
  margin: 0.5rem;
}

.ShowDetailsPage-hostInfoItem {
  margin: 0.25rem;
}

.ShowDetailsPage-about {
  flex: 3;
  margin: 0.5rem;
}

.ShowDetailsPage-episodes {
  flex: 1;
  margin: 0.5rem;
}

.ShowDetailsPage-hostInfoItem,
.ShowDetailsPage-episodesItem {
  padding: 14px 0;
  text-decoration: none;
  border-bottom: var(--borders-thin-solid-dark);
}

/* == ReactCSSTransitionGroup == */

.ShowDetailsPage-aboutImage-appear {
  opacity: 0.01;
}

.ShowDetailsPage-aboutImage-appear.ShowDetailsPage-aboutImage-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; /* Animation var() not working here */
}
