.Navigation {
  margin-top: 5rem;
}

.Navigation-link {
  display: block;
  margin: 5px;
  border: 2px solid #FF5744;
  text-decoration: none;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.15em;
}

.Navigation-link,
.Navigation-link:active,
.Navigation-link:visited {
  color: rgba(255, 87, 68, 1);
}

.Navigation-link:hover {
  text-decoration: underline;
}

.Navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  background-color: #FF5744;
  color: #fff;
}

.Navigation-link--highlight:hover {
  background-color: #FF5744;
}

