@import '../variables.css';

.Navigation {
  margin-top: 5rem;
}

.Navigation-link {
  display: block;
  margin: 5px;
  border: var(--borders-thin-solid-dark);
  border-color: var(--brand-primary);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.15em;
  border-radius: 3px;
  background-color: rgba(255, 87, 68, 0.15);
}

.Navigation-link,
.Navigation-link:active,
.Navigation-link:visited {
  color: #fff;
  transition: background var(--animation-easy-out);
}

.Navigation-link:hover {
  background-color: rgba(255, 87, 68, 0.45);
}

.Navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: var(--brand-primary);
}
.Navigation-link.Navigation-link--highlight {
  color: #fff;
}

.Navigation-link--highlight:hover {
  background-color: var(--brand-primary);
}

