@import '../variables.css';

.OnAirList {

}

.OnAirList-container {
}

.OnAirList-header {
  color: var(--brand-primary);
  font-size: var(--font-size-h1);
}

.OnAirList-moreLink {
  text-align: left;
  padding: 5px 5px 5px 0;
  border-top: 2px solid black;
  font-size: 14px;
  color: #FF5744;
  text-decoration: none;
}
