@import '../variables.css';

.Features {

}

.Features-container {
  padding: 1rem;
}

.Features-banner {
  text-align: center;
  font-variant: small-caps;
  color: var(--brand-primary);
  font-size: 14px;
}
