@import '../variables.css';

.EventItem {

}

.EventItem-container {
  border-top: 2px solid black;
}

.EventItem-link {
  padding: 3px 8px;
  text-decoration: none;
}

.EventItem-link:hover {
  text-decoration: underline;
}

.EventItem-link,
.EventItem-link:active,
.EventItem-link:visited {
  display: block;
  padding: 14px 0;
  color: #000;
}
