@import '../variables.css';

.ScheduleList {
  flex: 1;
}

.ScheduleList-container {
  font-variant: small-caps;
  width: 100%;
}

.ScheduleList-header {
  color: var(--brand-primary);
  font-size: var(--font-size-h1);
}

.ScheduleList-footer {
  border-top: 2px solid black;
}
